{% extends '::base.html.twig' %}

{% block body -%}
    <div class="jumbotron jumbotron-mt">
        <div class="row">
            <div class="col-md-12">
                <h2>Search</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <form id="search_word_form" name="search_word_form" method="post" action="{{ path('word') }}">
                            <input type="text" name="word" class="form-control input-lg" placeholder="Type word..." />
                        </form>
                    <span class="input-group-btn">
                        <button id="search_word_submit" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
                <br>
                {% if words|length > 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search results for "{{ search }}"</h3>
                    </div>
                    <ul class="list-group">
                        {% for word in words %}
                        <li class="list-group-item">
                            <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                                <div class="col-xs-12">
                                  {{ word.getWord() }}
                                    <i class="glyphicon glyphicon-chevron-down pull-right"></i>
                                </div>
                            </div>
                            <div id="detail-1">
                                <hr></hr>
                                <div class="container">
                                    <div class="fluid-row">
                                        <div class="col-xs-1">
                                            Synonyms:
                                        </div>
                                        <div class="col-xs-5">
                                          {{ word.synonym }}
                                        </div>
                                        <div class="col-xs-1">
                                            Explanation:
                                        </div>
                                        <div class="col-xs-5">
                                            {{ word.getExplanation() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
